body {
    background-color: black;
}
p {
    color: red;
    font-size: large;
}
h1 {
    font-size: medium;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: blue;
   
}
